<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form action="cadastrar.php" method="post">
            <label for="nome_filial">Filial:</label>
            <select id="nome_filial" name="nome_filial">
                <option value="Alpha">Alpha</option>
                <option value="Beta">Beta</option>
                <option value="Delta">Delta</option>
                <option value="Gamma">Gamma</option>
                <option value="Omega">Omega</option>
            </select>

            <label for="nome_departamento">Departamento:</label>
            <select id="nome_departamento" name="nome_departamento">
                <option value="Administração">Administração</option>
                <option value="Comunicação">Comunicação</option>
                <option value="Financeiro">Financeiro</option>
                <option value="Jurídico">Jurídico</option>
                <option value="Marketing">Marketing</option>
                <option value="Recursos Humanos">Recursos Humanos</option>
                <option value="TI">TI</option>
                <option value="Vendas">Vendas</option>
            </select>

            <label for="cargo_func">Cargo:</label>
            <select id="cargo_func" name="cargo_func">
                <option value="Gerente">Gerente</option>
                <option value="Analista de Marketing">
                    Analista de Marketing
                </option>
                <option value="Analista de RH">Analista de RH</option>
                <option value="Analista de Sistemas">
                    Analista de Sistemas
                </option>
                <option value="Analista de Suporte Técnico">
                    Analista de Suporte Técnico
                </option>
                <option value="Analista de TI">Analista de TI</option>
                <option value="Analista de Vendas">Analista de Vendas</option>
                <option value="Analista Financeiro">Analista Financeiro</option>
                <option value="Assistente Administrativo">
                    Assistente Administrativo
                </option>
                <option value="Assistente Financeiro">
                    Assistente Financeiro
                </option>
                <option value="Consultor Jurídico">Consultor Jurídico</option>
                <option value="Editor(a)">Editor(a)</option>
                <option value="Especialista em Marketing Digital">
                    Especialista em Marketing Digital
                </option>
                <option value="Projetista de Banco de Dados">
                    Projetista de Banco de Dados
                </option>
                <option value="Publicitário(a)">Publicitário(a)</option>
                <option value="Redator(a)">Redator(a)</option>
                <option value="Técnico de Manutenção">
                    Técnico de Manutenção
                </option>
            </select>
        </form>
    </body>
</html>
